@import url('https://fonts.googleapis.com/css2?family=Trade+Winds&display=swap');

*{
    margin: 0;
    background: #EBB7FF;
    font-family: "Trade Winds", system-ui;
    font-weight: 400;
    font-style: normal;
}

table {
    width: 100%;
    height: 100vh;
}

#roxo {
    background: #C3AFDE;
}
.navega {
    width: 100%;
    height: 10vh;
}

.logo {
    width: 5.5px;
    height: 10vh;
}
.logo a {
    background: #C3AFDE;
}
.logo img {
    background: #C3AFDE;
}

.produtos {
    text-align: center;
    width: 15%;
}
.produtos a {
    color: black;
    background: #C3AFDE;
    font-size: 1.2em;
    text-decoration: none;
}

.ajuda {
    text-align: center;
    width: 15%;
}
.ajuda a {
    color: black;
    background: #C3AFDE;
    font-size: 1.2em;
    text-decoration: none;
}

.quemsomos {
    text-align: center;
    width: 15%;
}
.quemsomos a {
    color: black;
    background: #C3AFDE;
    font-size: 1.2em;
    text-decoration: none;
}

.search {
    width: 20%;
}
.search img {
    cursor: pointer;
    background: white;
    position: relative;
    right: 12%;
    top: 15%;
    text-align: center;
}
#search {
    position: relative;
    left: 5%;
    width: 85%;
    height: 5vh;
    border-radius: 5px;
    border: none;
    background: white;
}

.person {
    width: 15%;
    text-align: center;
}
.person img {
    cursor: pointer;
    background: #C3AFDE;
}

.quemSomos{
    text-align: center;
    width: 15%;
}

.quemSomos h1 {
    position: relative;
    bottom: 40%;
    cursor: pointer;
    color: #4609AE;
}
.quemSomos p{
    text-align: left;
    left: 2%;
    position: absolute;
    bottom: 30%;
    font-size: 1.2em;
}
#frase {
    color: #4609AE;
    text-align: left;
    left: 2%;
    position: absolute;
    bottom: 23%;
    font-size: 1.2em;
}